psycopg2-binary
cx_Oracle
cassandra-driver
dnspython
pymongo
sqlalchemy
pandas
numpy
pymssql
pyodbc
apache-airflow-providers-odbc
apache-airflow-providers-cncf-kubernetes
apache-airflow-providers-docker
apache-airflow-providers-apache-spark
apache-airflow-providers-apache-cassandra
apache-airflow-providers-microsoft-mssql
apache-airflow-providers-microsoft-azure
apache-airflow-providers-postgres
apache-airflow-providers-oracle
apache-airflow-providers-elasticsearch
apache-airflow-providers-mongo
apache-airflow-providers-mysql